.submitButton {
  width: 100%;
  min-width: 80px !important;
}

.textfield {
  width: 100%;
}

.closed {
  position: static;
}

.closed .filterBar {
  border: 1px solid #a8abb3;
  border-radius: 10px;
  margin: 4px 0;
  padding: auto 10px;
}

.open {
  position: absolute;
  top: 40px;
  left: 40px;
  width: calc(100% - 80px); /* Ensure it takes the full width */
  border-radius: 10px;
  box-shadow: 1px 1px 10px 1px;
  z-index: 100000;
  background-color: white;
  box-sizing: border-box;
  padding: 16px 8px;
  overflow: auto; /* Enable scrolling if the content overflows */
  transition: width 2s ease-in-out;
}

.filterFields {
  display: flex;
  height: 50vh;
  overflow-y: scroll;
  transition: all 0.3s ease;
}

.invisible {
  height: 0vh;
  overflow: hidden;
}
