.OneStudent {
    display: flex;
    align-items: flex-start;
    margin-top: 100px !important;
    width: 100%;
    margin-right: 20px;
    &__container {
        margin-right: 375px !important;
        margin-bottom: 200px !important;
    }

    &__content {
        margin-left: 89px;
        margin-top: 60px;
        width: 100%;
        max-width: 690px;
        @media screen and (max-width: 1200px) {
            margin-left: 24px;
        }

        @media screen and (max-width: 600px) {
            margin-left: 0;
            margin-top: 40px;
        }

        progress {
            border-radius: 0px;
            width: 100%;
            height: 1px;
        }

        progress::-webkit-progress-bar {
            background-color: #E7E8EA;
            border-radius: 0px;
        }

        progress::-webkit-progress-value {
            background-color: #5627DC;
            border-radius: 0px;
            box-shadow: 0px -1px 0px #5627DC;
            border: 1px solid #5627DC;
        }
    }

    &__title {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 120%;
        color: #000000;
    }

    &__text {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #000000;
        opacity: 0.8;
        margin-top: 6px;
        overflow-wrap: break-word;
        width: 100%;
        &__wrap {
            margin-top: 5px;
            margin-bottom: 40px;
            @media screen and (max-width: 600px) {
                margin-top: 30px;
            }
        }
    }

    &__btn {
        width: 100% !important;
        max-width: 200px !important;
        padding: 14px 30px !important;
        margin-left: auto !important;
        @media screen and (max-width: 650px) {
            max-width: 140px !important;
            padding: 10px !important;
            margin-left: auto !important;
        }
    }

    &__Wrap {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    &__Wrap1 {
        display: flex;
        align-items: center;
        margin-bottom: 40px;
        gap: 10px;
        @media screen and (max-width: 600px) {
            margin-bottom: 20px;
        }
    }

    &__person {
        cursor: pointer;
        border-radius: 8px;
        border: 1px solid #E9E8EE;
        margin-left: auto;
        background: #FFF;
        width: 100%;
        max-width: 246px;
        padding: 8px;
        padding-bottom: 32px;
        @media screen and (max-width: 450px) {
            max-width: 150px;
            padding: 4px;
            padding-bottom: 12px;
        }

        &__box {
            cursor: pointer;
            width: 100%;
            border-radius: 5px;
            border: 1px solid #E9E8EE;
            background: #F5F5F5;
            padding: 8px 4px;
            display: flex;
            align-items: center;
            gap: 8px;
            @media screen and (max-width: 450px) {
                padding: 4px 2px;
                gap: 6px;
            }
        }

        &__text {
            cursor: pointer;
            color: #000;
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            margin-bottom: 8px;
            @media screen and (max-width: 450px) {
                font-size: 12px;
                margin-bottom: 5px;
            }
        }

        &__id {
            cursor: pointer;
            border-radius: 1000px;
            border: 1px solid #1381E6;
            color: #1381E6;
            font-family: Inter;
            font-size: 10px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-align: center;
            padding: 4px 8px;
            @media screen and (max-width: 450px) {
                padding: 2px 4px;
            }
        }

        a {
            display: inline-block;
            width: 100%;
            margin-left: 24px;
            margin-top: 30px;
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            display: flex;
            align-items: center;
            line-height: normal;
            gap: 9px;
            color: #0094FF;
            @media screen and (max-width: 450px) {
                font-size: 12px;
                margin-left: 14px;
                margin-top: 15px;
            }

            p {
                max-width: 160px;
                overflow: hidden;
                @media screen and (max-width: 450px) {
                    max-width: 80px;
                }
            }

            &:last-child {
                color: black;
                margin-top: 15px;
                @media screen and (max-width: 450px) {
                    margin-top: 7px;
                }
            }
        }
    }

    &__imgOpen {
        position: fixed;
        top: 0;
        left: 0;
        background: rgb(0, 0, 0, .8);
        width: 100vw;
        height: 100vh;
        z-index: 100;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            width: 60%;
            height: 60%;
            object-fit: contain !important;
            border-radius: 0 !important;
        }
    }
}

.OneStudent__tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.OneStudent__tabs button {
    padding: 10px 20px;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 16px;
}

.OneStudent__tabs button.active {
    background-color: #6200ea; // Цвет фона для активного таба
    color: white;
}

.subTabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.subTabs button {
    padding: 10px 20px;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 16px;
}

.subTabs button.active {
    background-color: #6200ea; // Цвет фона для активного подтаба
    color: white;
}

.projectLinks {
    margin-bottom: 20px;
}

.linkItem {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px; // добавляем отступы
    background-color: #ffffff; // добавляем серый цвет фона
    border-radius: 10px; // добавляем закругленные углы
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
}
.linkItem span {
    font-weight: bold;
    margin-right: 10px;
}

.linkItem a {
    color: #007bff;
    text-decoration: none;
    word-break: break-all; // чтобы длинные ссылки переносились
}

.linkItem a:hover {
    text-decoration: underline;
}

.projectImages {
    display: flex;
    gap: 20px;
}

.projectImages img {
    width: calc(50% - 10px);
    height: auto;
    padding: 20px;
}
.projectImages2 img {
    width: calc(30% - 10px);
    height: auto;
    padding: 20px;
}
.projectDescription h3 {
    margin-top: 20px;
    font-weight: bold;
    border-radius: 0px;
    padding: 10px;
}

.projectDescription p {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 20px; // добавляем отступы
    background-color: #ffffff; // добавляем серый цвет фона
    border-radius: 10px; // добавляем закругленные углы
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
    border: 1px solid #000000; // добавляем контур
}

.teamRoles ul {
    list-style-type: disc;
    margin-top: 20px;
    margin-left: 20px;
}

.skillsSection {
    margin-top: 40px;
}

.skillLevels {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.skillLevel {
    display: flex;
    flex-direction: column;
}

.skills {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 10px;
}

.skill {
    background-color: #f1f1f1;
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.advanced {
    border: 1px solid #007bff;
    color: #007bff;
}

.intermediate {
    border: 1px solid #ffa500;
    color: #ffa500;
}

.beginner {
    border: 1px solid #00ff00;
    color: #00ff00;
}