.idbtn {
    background: #F1F8F5;
    border: 1px solid #42A26E;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #42A26E;
    padding: 4px 10px;

    div {
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: #42A26E;
    }
}