.NewsList {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    margin-bottom: 20px;

    &:hover {
        .NewsList__text {
            color: #5627DC;
        }

        .NewsList__delete,
        .NewsList__edit {
            display: inline-block;
        }
    }



    &__top {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &__img {
        min-width: 324px;
        height: 196px;

        img {
            border-radius: 8px;
            object-fit: cover;
        }


    }

    &__date {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        display: flex;
        align-items: center;
        color: #0B212B;
        gap: 4px;

        opacity: 0.6;
    }

    &__category {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;

        color: #932F46;
        border-radius: 40px;
        padding: 5px 10px;
    }

    &__content {
        width: 100%;
        max-width: 800px;
        cursor: pointer;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    &__text {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 28px;
        color: #0B212B;
        margin-top: 16px;


    }



    &__edit {
        width: 32px;
        height: 32px;
        display: none;
        color: #5627DC;
        border-radius: 50%;
        background-color: rgb(86, 39, 220, .1);
    }

    &__delete {
        width: 32px;
        height: 32px;
        display: none;
        color: red;
        margin-left: 8px;
        border-radius: 50%;
        background-color: rgb(255, 0, 0, .1);
    }

    &__decan {
        width: 150px;
    }
}