.HomePage {
    width: 100%;
    position: relative;
    max-width: 1600px;
    margin-left: 41px;
    margin-right: 30px;

    @media screen and (max-width:1140px) {
        margin-left: 15px;
        margin-right: 10px;
    }

    &__container {
        background: #FFFFFF;
        box-shadow: -10px 50px 250px -20px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        margin-top: 107px;
        padding: 70px;
        padding-top: 64px;
        position: relative;

        @media screen and (max-width:1140px) {
            padding: 20px 30px;
        }

        @media screen and (max-width:800px) {
            margin-top: 66px;
        }

    }

    &__title {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        color: #000000;
        width: 100%;
        max-width: 416px;

        @media screen and (max-width:1140px) {
            font-size: 20px;
            font-weight: 600;
        }
    }

    &__text {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        color: #000000;
        width: 100%;
        max-width: 750px;
        margin-top: 15px;

        @media screen and (max-width:1140px) {
            margin-top: 10px;
            font-size: 12px;
            font-weight: 400;
            line-height: 18px;
        }
    }

    &__img {
        position: absolute;
        bottom: 0;
        right: 20px;
        height: 197px;
    }

    &__card {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 14px;
        margin-top: 16px;
        flex-wrap: wrap;

        &__card {
            width: calc((100% - 46px) / 4);
            padding: 23px 23px 24px 20px;
            border-radius: 3px;
            background: rgb(74, 178, 94, 0.06);

            @media screen and (max-width:1140px) {
                width: calc((100% - 14px) / 2);
            }

            &:nth-child(2) {
                background: rgb(131, 60, 187, .06);

                .HomePage__card__card__text {
                    color: #833CBB;
                }

                .HomePage__card__card__title {
                    color: #833CBB;
                }
            }

            &:nth-child(3) {
                background: rgb(66, 86, 158, .06);

                .HomePage__card__card__text {
                    color: #1867B1;
                }

                .HomePage__card__card__title {
                    color: #1867B1;
                }
            }

            &:nth-child(4) {
                background: rgb(198, 122, 34, .06);

                .HomePage__card__card__text {
                    color: #C67A22;
                }

                .HomePage__card__card__title {
                    color: #C67A22;
                }
            }

            &__title {
                color: #4AB25E;
                font-family: "Inter";
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;

                span {
                    font-size: 11px;
                    font-style: normal;
                    font-weight: 400;
                }
            }

            &__text {
                color: #4AB25E;
                font-family: "Inter";
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin-top: 1px;
                margin-bottom: 17px;
            }

            &__role {
                color: #101828;
                font-family: Inter;
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }

    }

    &__chart {
        display: flex;
        width: 100%;
        gap: 63px;
        margin-top: 79px;
        margin-bottom: 50px;

        @media screen and (max-width:1500px) {
            gap: 20px;
        }

        @media screen and (max-width:1100px) {
            flex-wrap: wrap;
            margin-top: 39px;
            margin-bottom: 10px;
        }


        &__wrap {
            width: 100%;
            max-width: 520px;
            padding-left: 40px;
            padding-right: 34px;
            border-left: 1px solid #DCDCDC;

            @media screen and (max-width:1500px) {
                padding-left: 20px;
                padding-right: 0px;
            }

            @media screen and (max-width:1100px) {

                margin-bottom: 20px;
            }
        }

        &__title {
            color: #101828;
            font-family: Inter;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }

        &__text {
            color: #101828;
            font-family: Inter;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 17px;
            opacity: 0.5;
            width: 100%;
            max-width: 257px;
            margin-bottom: 80px;

            @media screen and (max-width:1100px) {

                margin-bottom: 20px;
            }
        }
    }

    &__test {
        color: #101828;
        font-family: "Inter";
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        display: flex;
        align-items: flex-end;
        padding: 0px 0px 0px 8px;
        width: 100%;
        height: 185px;
        border-left: 2px solid #5627DC;
        border-bottom: 1px solid #5627DC;

        &__width {
            width: calc((100% - 14px) / 5);
        }


        &__wrap {
            display: flex;
            width: 100%;
            gap: 24px;
        }

        &_test {
            color: #5627DC;
            font-family: "Inter";
            font-size: 13px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            margin-top: 2px;
        }
    }

    &__test2 {
        border-left: 2px solid #DC7E27;
        border-bottom: 45px solid #DC7E27;

        &_test {
            color: #DC7E27;
            font-family: "Inter";
            font-size: 13px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            margin-top: 2px;
        }
    }

    &__addInputs {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
    }
}