.Header {
    width: 100%;

    padding: 0 33px;
    padding-left: 0;

    padding-right: 37px;
    background: #FFFFFF;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;

    @media screen and (max-width:1140px) {
        padding-right: 17px;
    }

    &__Wrap {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #E5E5E5;
    }


    &__openSearch {
        background: #FFFFFF;
        left: 0;
        position: absolute;
        padding-bottom: 9px;
        padding-top: 15px;

        border-bottom: 1px solid #E5E5E5;
        display: none;
        width: 100%;

        z-index: 100000 !important;

        @media screen and (max-width:800px) {
            display: inline-block;
        }
    }

    &__openWindow {
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;

    }

    &__logo {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 800;
        font-size: 16px;
        line-height: 18px;
        color: #000000;
        text-align: center;
        min-width: 267px !important;
        height: 80px;
        border-right: 1px solid #E5E5E5;
        cursor: pointer;
        padding: 28px;
        margin: 0;

        @media screen and (max-width:800px) {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 20px 0 !important;
            border: none;
            height: auto;
        }

        @media screen and (max-width:550px) {
            font-size: 14px;

            min-width: 220px !important;
        }


    }

    &__left {
        display: flex;
        align-items: center;
        width: 100%;

        @media screen and (max-width:800px) {
            justify-content: flex-end;
        }
    }

    &__humberger {
        min-width: 18px;
        height: 2px;
        border-radius: 30px;
        background-color: #000000;
        margin: 0 20px;
        position: relative;
        cursor: pointer;
        display: none;

        @media screen and (max-width:800px) {
            display: inline-block;
        }

        &::before {
            content: "";
            position: absolute;
            top: -5px;
            left: 0;
            width: 18px;
            height: 2px;
            background-color: #000000;
        }

        &::after {
            content: "";
            position: absolute;
            top: 5px;
            left: 0;
            width: 18px;
            height: 2px;
            background-color: #000000;
        }

        &Open {
            transform: rotate(-45deg);

            &::after {
                top: 0;
                transform: rotate(90deg);
            }

            &::before {
                display: none;

            }

        }
    }

    &__search {
        padding: 0 60px;
        border: none;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: rgb(45, 46, 47);
        outline: none;
        width: 100%;


        margin-right: 100px;
        background-image: url('/Image/icons/search1.svg');
        background-repeat: no-repeat;
        background-position: center left 30px;
        background-size: 20px 20px;

        &::placeholder {
            color: rgb(45, 46, 47, 0.6);
        }

        @media screen and (max-width:1140px) {
            margin-right: 0px;
        }



    }

    &__searchnone {
        @media screen and (max-width:800px) {
            display: none;
        }
    }

    &__searchBtn {
        display: none;
        cursor: pointer;

        @media screen and (max-width:800px) {
            display: inline-block;
            margin-bottom: 4px;
        }
    }

    &__clock {
        display: flex;
        align-items: center;
        margin-right: 30px;
        width: 100%;
        max-width: 160px;

        @media screen and (max-width:1140px) {
            margin-right: 0px;

        }

        @media screen and (max-width:950px) {
            display: none;
        }

        &__title {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            text-align: right;
            color: #667085;
            margin-bottom: 3px;

            @media screen and (max-width:1140px) {
                margin-bottom: 1px;
                font-size: 11px;
                line-height: 14px;

            }
        }

        &__text {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            text-align: right;
            color: #101828;

            @media screen and (max-width:1140px) {

                font-size: 14px;
                line-height: 17px;

            }

        }

        &__title1 {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            text-align: left;
            color: #667085;
            margin-bottom: 3px;

            @media screen and (max-width:1140px) {
                margin-bottom: 1px;
                font-size: 11px;
                line-height: 14px;

            }
        }

        &__text1 {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            text-align: left;
            color: #101828;

            @media screen and (max-width:1140px) {

                font-size: 14px;
                line-height: 17px;

            }

        }

        &__img {
            margin-bottom: 6px;
            margin-left: 0px;


        }

        &__center {
            width: 15px;
            margin-left: 4px;
            margin-right: 3px;


        }

        &__line {
            height: 11px;
            width: 1px;
            background-color: #667085;
            margin-left: auto;
            margin-right: 3px;
            margin-top: 3px;
            transform: rotate(15deg) translateY(3px);

        }

        &__line2 {
            height: 11px;
            width: 1px;
            background-color: #101828;
            margin-left: 3px;
            transform: rotate(15deg) translateY(-6px);

        }


    }

    &__profil {
        display: flex;
        align-items: center;
        gap: 8px;
        min-width: 190px;
        cursor: pointer;

        @media screen and (max-width:700px) {
            width: 100%;
            min-width: 44px;
            max-width: 44px;
        }

        &__img {
            min-width: 44px;
            min-height: 44px;
            border-radius: 50%;
        }

        &__name {
            width: 142px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            color: #101828;

            @media screen and (max-width:700px) {
                display: none;
            }


        }

        &__id {

            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #667085;

            @media screen and (max-width:700px) {
                display: none;
            }
        }
    }


}