.SetStudent {
    &__container {
        width: 100%;
        max-width: 868px !important;
        margin-bottom: 86px !important;
        margin-top: 100px !important;
        margin-left: 40px !important;

        @media screen and (max-width:980px) {
            margin-bottom: 76px !important;
            margin-left: 10px !important;
        }
    }


    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 36px;

        @media screen and (max-width:1160px) {
            flex-direction: column-reverse;
            align-items: flex-end;
            gap: 10px;
            margin-bottom: 0px;

        }

        &__Info {
            display: flex;
            align-items: center;
            width: 100%;
            max-width: 543px;
            padding: 3px;
            border-radius: 8px;
            border: 1px solid rgba(168, 171, 179, 0.30);
            background: #FFF;
            gap: 24px;

            @media screen and (max-width:1160px) {
                max-width: 100%;
            }

            div {
                cursor: pointer;
                border: none;
                display: flex;
                align-items: center;
                padding: 10px;
                border-radius: 4px;

                &:hover {

                    background: #EFEFF4;

                }
            }
        }

        &__Name {
            color: #252430;

            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 20px;
            margin: 0;
            padding: 0;
        }

        &__btns {
            display: flex;
            align-items: center;
            gap: 5px;
        }

        &__role {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #252430;
            margin-left: 4px;
            margin-right: 14px;

        }


    }

    &__upload {
        width: 150px;
        height: 150px;
        position: relative;
        border-radius: 50%;


        &__file {
            display: none;
        }

        &__icon {
            position: absolute;
            bottom: -5px;
            right: 5px;
            background: #FFFFFF;
            border: 1px solid rgb(18, 18, 18, 0.1);

            &:hover {
                border: none;
                box-shadow: 0px 10px 30px -5px rgba(86, 39, 220, 0.6);
            }

            border-radius: 50%;
            padding: 15px;
        }

        &__div {


            div {
                cursor: pointer;
            }

            &:hover {
                .SetStudent__imgDelete {
                    display: flex;
                }
            }
        }

        img {
            border-radius: 50%;
            object-fit: cover;
        }
    }

    &__imgDelete {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        align-items: center;
        justify-content: center;
        background-color: rgb(0, 0, 0, .5);
    }

    &__lesson {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #252430;
        margin-bottom: 32px;

        &__sert {
            display: flex;
            align-items: center;
            gap: 6px;
        }

        &__number {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 13px;
            line-height: 18px;
            color: #252430;
            margin-bottom: 19px;

        }

        &__wrap {
            display: flex;

            justify-content: space-between;
        }

        &__add {
            width: 100%;
            border-bottom: 1px solid #E9E8EE;
            padding: 10px 15px;
            display: flex;
            align-items: center;
            gap: 2px;

        }

        &__inputNumber {
            color: #252430;
            font-size: 12px;
            font-family: Inter;
            border-radius: 8px;
            border: 1px solid #dedee1;
            display: flex;
            align-items: center;
            justify-content: center;
            outline: none;
            width: 44px;
            height: 44px;
            text-align: center;

        }

        &__input {
            border-radius: 8px;
            border: 1px solid #dedee1;
            padding: 14px 12px;
            color: rgb(37, 36, 48);
            font-size: 12px;
            font-family: Inter;
            width: 100%;
            max-width: 293px;



            &::placeholder {
                color: rgb(37, 36, 48, .4);
            }

            outline: none;
        }



        &__btn {
            color: #5627DC;
            font-size: 12px;
            font-family: Inter;
            display: flex;
            align-items: center;
            justify-content: center;
            outline: none;
            min-width: 44px;
            height: 44px;
            border: none;
            border-radius: 8px;
            background: #E9E8EE;
        }
    }

    &__Sertifacet {
        margin-bottom: 33px;


        &__Download {
            display: inline-block;
            cursor: pointer;
            width: 210px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background: #EEECF4;
            border-radius: 8px;
            padding: 5px 6px;
            padding-left: 12px;
            margin-top: 3px;

            input {
                display: none;
            }

            &__text {

                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 15px;
                color: #5627DC;

            }

            &__text {
                font-size: 12px;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                color: #121212;

            }

            &__round {
                border: 1px solid #5627DC;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 34;
                height: 34;
                position: relative;
                border-radius: 50%;
            }


            &__circle {
                width: 4px;
                height: 4px;
                background: cyan;
                border-radius: 50%;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                overflow: hidden;
                margin: auto;
                animation: circle 6s linear infinite;
            }


        }
    }

    &__skill {
        display: flex;
        align-items: center;
        gap: 9px;
        flex-wrap: wrap;


    }

    &__progress {
        margin-bottom: 20px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        color: #252430;
        opacity: 0.5;
    }

    &__inputs {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 38px;
        margin: 60px 0;

        @media screen and (max-width:980px) {
            gap: 18px;
            margin: 30px 0;
        }

        @media screen and (max-width:650px) {
            flex-direction: column;
        }

    }

    &__content {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;

        &__input {
            width: calc((100% - 20px) / 3) !important;
            max-width: 100% !important;

            @media screen and (max-width:1000px) {
                width: calc((100% - 20px) / 2) !important;
                max-width: 100% !important;

            }

            @media screen and (max-width:430px) {
                width: 100% !important;
                max-width: 100% !important;

            }
        }

    }

    &__list {
        padding: 24px 10px 20px 10px;

        &__top {
            display: flex;

            justify-content: space-between;
            margin-bottom: 11px;

            &__text {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 18px;
                color: rgb(16, 24, 40, .6);
                margin-left: 10px;
                width: 100%;

                &:first-child {
                    width: 100%;
                    margin-left: 16px;
                    max-width: 246px !important;
                }

                &:nth-child(2) {
                    text-align: center;
                    max-width: 78px;
                }

                &:nth-child(3) {
                    max-width: 150px;
                    margin-left: 70px;
                }

                &:last-child {
                    max-width: 80px;
                    margin-left: auto;
                }
            }
        }



        &__bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 16px 17px;

            background: #F5F4F7;
            border-radius: 8px;
            margin-bottom: 4px;

            &:hover {
                background: #E0DEE4;
            }

            &__text {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                color: #101828;
                margin-left: 10px;
                width: 100%;

                &:first-child {
                    width: 100%;
                    margin-left: 0;
                    max-width: 246px !important;
                }

                &:nth-child(2) {
                    text-align: center;
                    max-width: 78px;
                }

                &:nth-child(3) {
                    max-width: 150px;
                    margin-left: 70px;
                }

                &:last-child {
                    text-align: end;
                    max-width: 80px;
                    margin-left: auto;
                }
            }
        }

    }

    &__logout2__wrap {
        display: none;

        top: 0;
        left: 0;
        z-index: 100000;
        position: fixed;
        width: 100vw;
        overflow: hidden;
        height: 100vh;

        background: rgb(16, 24, 40, 0.1);
        padding-top: 36px;
        text-align: center;
    }

    &__logout2 {
        // position: absolute;
        // top: 36px;
        display: inline-block;

        background: #FFFFFF;
        border: 1px solid rgba(86, 39, 220, 0.1);
        box-shadow: -20px 24px 54px #DCDCDC;
        border-radius: 8px;
        padding: 20px 30px;
        z-index: 50;

        &__text {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 26px;
            text-align: center;
            color: #000000;
            width: 175px;
            margin: 0 auto;
            margin-bottom: 26px;
            text-align: center;
            width: 100%;
            max-width: 194px;

        }

        div {
            display: flex;
            gap: 10px;
        }
    }


    &__wrap {
        margin-bottom: 40px;
        width: 100%;
        max-width: 860px;
        display: flex;
        gap: 18px;

        &__img {
            width: 100%;

            &__box {
                display: flex;
                flex-wrap: wrap;
                gap: 5px;
            }

            label {
                display: inline-block;
                width: calc((100% - 18px) / 4);
                border-radius: 8px;
                height: 150px;
                background: #EEECF4;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;

                @media screen and (max-width:590px) {
                    width: calc((100% - 18px) / 2);
                }
            }

            input {
                display: none;
            }

            div {
                text-align: center;
            }

            p {
                color: #5627DC;

                font-family: Inter;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px;
                margin-top: 10px;
            }

        }

        &__cartume {
            width: calc((100% - 18px) / 4);

            @media screen and (max-width:590px) {
                width: calc((100% - 18px) / 2);
            }

            border-radius: 8px;
            position: relative;


            img {
                width: 100%;
                object-fit: cover;
                height: 150px;
                overflow: hidden;
            }

            &__div {
                position: absolute;
                top: -10px;
                right: -10px;
                overflow: hidden;
                width: 32px;
                height: 32px;
                border-radius: 50%;
                display: none;
                z-index: 100;

                align-items: center;
                justify-content: center;
                cursor: pointer;
                box-shadow: 4px 6px 14px rgba(136, 0, 0, 0.50);
                background-color: white;
                border: 1px solid #FFEFEF;
            }

            &:hover {
                .SetStudent__wrap__cartume__div {
                    display: flex;
                }
            }


        }

        &__text {
            color: #252430 !important;

            font-family: Inter !important;
            font-size: 14px !important;
            font-style: normal !important;
            font-weight: 500 !important;
            line-height: normal !important;
            margin-bottom: 21px;
        }
    }


}

.displayBlock {
    display: inline-block;
}