.aside {
    background: #f4f4f4;
    border-radius: 8px;
    width: 100%;
    max-width: 335px;
    margin-right: 20px;

    height: auto;
    position: sticky;
    margin-top: 100px;
    right: 0;
    z-index: 9;

    top: 100px;
    height: calc(100vh - 154px);
    padding-bottom: 100px;
    
    overflow-x: auto;
    &::-webkit-scrollbar {
        width: 0;
    }

    @media screen and (max-width:1440px) {
        display: none;
    }
}