.StudentPage {
    margin: 0 20px;
    margin-top: 100px;
    width: 100%;

    @media screen and (max-width:800px) {
        margin-top: 66px;
    }

    &__filter {
        width: 100%;
        display: flex;
        justify-content: space-between;

        &__btn {
            @media screen and (max-width:1000px) {
                padding: 8px 10px !important;
            }
        }
    }

    &__addInputs {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
    }

    &__checkBox {
        display: flex;
        gap: 22px;
        margin-bottom: 34px;

        label {
            padding: 4px 8px;
            padding-left: 5px;
            display: flex;
            align-items: center;
            gap: 4px;
            color: #101828;

            &:hover {
                border-radius: 4px;
                background: rgba(86, 39, 220, 0.05);
            }

            p {
                font-family: Inter;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }
        }
    }

    &__page {
        display: flex;
        gap: 20px;

        &__div {
            width: 100%;
            height: calc(100vh - 150px);
            overflow-x: scroll;

            &::-webkit-scrollbar {
                width: 0;
            }
        }
    }
}


.openMadal {
    display: flex !important;
}