.TopNewsList {
    width: 100%;
    padding: 20px 12px;
    background: #FFFFFF;
    border-radius: 8px;
    margin-bottom: 4px;
    transition: 0.2s all ease;

    &:hover {
        box-shadow: 10px 10px 30px -10px rgba(0, 0, 0, 0.15);
        transform: translate(5px);
        -webkit-transform: translate(5px);
    }

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 7px;

        &__text {
            display: flex;
            align-items: center;
            gap: 4px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 800;
            font-size: 11px;
            line-height: 13px;
            color: #0B212B;

        }
    }

    &__text {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        color: #0B212B;

    }
}