.OnePerson {
    display: flex;
    align-items: flex-start;

    width: 100%;
    margin-right: 20px;

    &__container {
        margin-top: 100px !important;
        margin-right: 20px !important;
        display: flex !important;
        justify-content: space-between !important;
        align-items: flex-start !important;


    }

    &__title {

        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 120%;
        /* or 19px */


        color: #101828;
        margin-top: 22px;
        padding-bottom: 16px;
        border-bottom: 1px solid rgb(16, 24, 40, .1);
        margin-bottom: 17px;
        margin-left: 177px;


    }

    &__text {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;

        color: #101828;
        margin-left: 177px;
        opacity: 0.8;
    }

    &__btn {
        width: 100% !important;
        max-width: 143px !important;
    }

    &__person {
        border-radius: 8px;
        border: 1px solid #E9E8EE;

        background: #FFF;
        width: 100%;
        max-width: 246px;
        padding: 8px;
        padding-bottom: 32px;

        @media screen and (max-width:450px) {
            max-width: 160px;
            padding: 4px;
            padding-bottom: 12px;

        }

        &__box {
            width: 100%;
            border-radius: 5px;
            border: 1px solid #E9E8EE;

            background: #F5F5F5;
            padding: 8px 4px;
            display: flex;
            align-items: center;
            gap: 8px;
            cursor: pointer;

            @media screen and (max-width:450px) {
                padding: 4px 2px;
                gap: 6px;

            }
        }

        &__text {
            color: #000;

            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            margin-bottom: 8px;

            @media screen and (max-width:450px) {

                font-size: 12px;
                margin-bottom: 5px;
            }
        }

        &__id {
            display: inline-block;
            border-radius: 1000px;
            border: 1px solid #1381E6;
            color: #1381E6;
            font-family: Inter;
            font-size: 10px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-align: center;
            padding: 4px 15px;

            @media screen and (max-width:450px) {
                padding: 2px 4px;
            }
        }

        a {
            display: inline-block;
            width: 100%;
            margin-left: 24px;
            margin-top: 30px;

            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            display: flex;
            align-items: center;
            line-height: normal;
            gap: 9px;


            svg {
                width: 18px;
                height: 18px;
            }

            color: #0094FF;


            @media screen and (max-width:450px) {
                font-size: 12px;
                margin-left: 14px;
                margin-top: 15px;
            }

            p {
                max-width: 140px;
                overflow: hidden;

                @media screen and (max-width:450px) {
                    max-width: 80px;
                }
            }

            &:last-child {
                color: black;
                margin-top: 15px;

                @media screen and (max-width:450px) {
                    margin-top: 7px;
                }
            }
        }
    }

}