.SearchSkill {
    width: 100%;
    max-width: 430xp;

    &__label {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: #252430;
        margin-bottom: 6px;
    }

    &__input {
        background: #FFFFFF;
        border: 1px solid #E9E8EE;
        border-radius: 8px;
        padding: 12px 37px;
        outline: none;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: rgb(37, 36, 48);

        background-image: url('/Image/icons/Icons.svg');
        background-repeat: no-repeat;
        background-size: 20px 20px;
        background-position: center left 12px;

        &::placeholder {
            color: rgb(37, 36, 48, 0.3);
        }

        &:focus {
            border: 1px solid rgb(37, 36, 48, 0.4);
        }
    }

    &__Select {
        width: 100%;
        max-width: 429px;
    }
}