.TeacherPage {
    margin: 0 20px;
    margin-top: 100px;
    width: 100%;

    @media screen and (max-width:800px) {
        margin-top: 66px;
    }

    &__filter {
        width: 100%;
        display: flex;
        justify-content: space-between;

        &__btn {
            @media screen and (max-width:1000px) {
                padding: 8px 10px !important;
            }

            @media screen and (max-width:500px) {
                padding: 8px 0px !important;
            }
        }
    }

    &__addInputs {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    &__texterorr {
        color: red;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;
    }

    &__inputtext {
        color: #000;

        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        opacity: .8;
        width: 100%;
        max-width: 352px;
    }

    &__div {
        width: 100%;
        height: calc(100vh - 150px);
        overflow-x: scroll;

        &::-webkit-scrollbar {
            width: 0;
        }
    }
}


.openMadal {
    display: flex !important;
}