.StudentsPage {
    display: flex;
    align-items: flex-start;
    width: 100%;
    

    &__top {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-top: 31px;
        padding-bottom: 15px;
        padding-left: 33px;
        border-bottom: 1px solid rgb(0, 0, 0, 0.1);
        padding-left: 13px;


        &__item {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            color: #101828;
            opacity: 0.6;
            width: 100%;

            &:last-child {
                width: 100%;
                max-width: 100px;
            }
        }
    }

    &__search {
        margin-left: 34px;
        margin-top: 49px;

        p {
            width: 100%;
            max-width: 382px;
            margin-top: 10px;
            color: #101828;

            font-family: Inter;
            font-size: 28px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }

        img {
            width: 100%;
            max-width: 364px;
        }
    }

    &__div {
        width: 100%;
        height: calc(100vh - 150px);
        overflow-x: scroll;

        &::-webkit-scrollbar {
            width: 0;
        }
    }
}