.SideBar {
    min-width: 267px;

    background: #FFFFFF;
    border-right: 1px solid #E5E5E5;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: sticky;
    top: 82px;
    left: 0;
    z-index: 9;
    margin-top: 81px;
    overflow: scroll;

    height: calc(100vh - 82px);

    @media screen and (max-width:800px) {
        position: fixed;
        margin-top: 0;
        border-radius: 10px;
        border: none;
        top: 60px;
        left: 10px;
        z-index: 100;

        display: none;

    }

    &__shodow {
        display: none;

        @media screen and (max-width:800px) {
            display: none;
            width: 100vw;
            height: 100vh;
            position: fixed;
            top: 0;
            left: 0;
            background: rgb(0, 0, 0, .2);
            z-index: 99;
        }
    }


    &::-webkit-scrollbar {
        width: 0;
    }

    &__active {
        background: #5627DC !important;
        border-radius: 4px !important;
        color: #FFFFFF !important;

    }

    &__text {

        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
        display: flex;
        align-items: center;
        text-transform: uppercase;

        color: #121212;
        margin-bottom: 10px;
        margin-left: 5px !important;

    }

    &__logout {
        display: flex;
        align-items: center;
        gap: 10px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #121212;
        padding: 14px 22px;
        border-radius: 4px;
        margin-top: auto;
    }

    &__logout2__wrap {
        display: none;

        top: 0;
        left: 0;
        position: fixed;
        width: 100vw;
        overflow: hidden;
        height: 100vh;
        background-color: transparent;
        z-index: 10;
    }

    &__logout2 {
        position: absolute;
        bottom: 50px;
        left: 130px;
        background: #FFFFFF;
        border: 1px solid rgba(86, 39, 220, 0.1);
        box-shadow: -20px 24px 54px #DCDCDC;
        border-radius: 8px;
        padding: 20px 30px;
        z-index: 50;

        @media screen and (max-width:800px) {
            left: 100px;
        }

        &__text {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 26px;
            text-align: center;
            color: #000000;
            width: 175px;
            margin: 0 auto;
            margin-bottom: 26px;

        }

        div {
            display: flex;
            gap: 10px;
        }
    }
}

.SideBarBtn {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #121212;
    padding: 14px 22px;

    border-radius: 4px;

    width: 100%;



    &:hover {
        background: rgb(86, 39, 220, 0.1);
    }

    &__opsite {
        display: flex;
        align-items: center;
        gap: 10px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #121212;
        padding: 14px 22px;

        border-radius: 4px;

        width: 100%;


        opacity: .5;
    }



}

.SideBarClose {
    @media screen and (max-width:800px) {
        display: flex
    }
}