.SearchSkill {
    width: 100%;
    max-width: 70px !important;

    border-radius: 3px;
    background: #EEECF4;
    margin-bottom: 19px;

    &::placeholder {
        color: #5627DC;
        font-family: Inter;
        font-size: 13px;
        font-style: normal;
        font-weight: 700;
        line-height: 18px;
    }


}