.timepicker {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;

    &__label {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 13px;

        color: #0B212B;

        opacity: 0.4;
    }
}

.rounded {
    border-radius: 8px;
    border: 1px solid rgba(11, 33, 43, 0.20);
    background: #FFF;
    padding: 0 11px;
    cursor: pointer;

    &:hover {
        border-color: #0b212b3b !important;
    }

    &>div {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        gap: 4px !important;

        &>span {
            width: 12px;
            height: 12px;
            margin: 0 !important;

            &>*,
            &>*>* {
                width: 100%;
                height: 100%;
            }
        }

        &>input {
            height: 34px !important;
            font-weight: 500 !important;
            font-size: 11px !important;
            line-height: 15px !important;
        }
    }
}

.square {
    border-radius: 5px;
    background: transparent;
    padding: 10px 13px;
    border: 1px solid #0b212b3b;

    &:hover {
        border-color: #0b212b3b !important;
    }

    &>div {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        gap: 5px !important;

        &>span {
            width: 12px;
            height: 12px;
            margin: 0 !important;

            &>*,
            &>*>* {
                width: 100%;
                height: 100%;
            }
        }

        &>input {
            font-weight: 500;
            font-size: 11px;
            line-height: 15px;
        }
    }
}