.fr-element {
    margin-top: -36px;
    z-index: 99999 !important;
}

.fr-placeholder {
    margin-top: 0 !important;
    z-index: 99999 !important;
}

div.fr-wrapper>div:first-child>a {
    opacity: 0;
}