.CancelBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #5627DC;
    padding: 14px 30px;
    background: #EEECF4;
    border-radius: 4px;
    cursor: pointer;



}