.LessonTable {
    &__title {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;

        color: #000000;
        margin-bottom: 26px;

    }

    &__list {
        display: flex;
        width: 100%;


        &__text {

            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 18px;

            color: #000000;
            padding: 16px 20px;
            display: inline-block;
            cursor: pointer;
            border-bottom: 2px solid transparent;
        }

    }

    &__lisActive {
        background: rgba(86, 39, 220, 0.1);
        border-bottom: 2px solid #5627DC;
        border-radius: 8px 8px 0px 0px;
        color: #5627DC;
    }

    &__table {
        background: #FFFFFF;
        border: 1px solid #E9E8EE;
        border-radius: 8px;

        &__semester {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 8px 15px;

            &__div {
                display: flex;
                align-items: center;
            }

            border-bottom: 1px solid #E9E8EE;
        }

        &__text {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            color: #101828;
            opacity: 0.6;
        }

        &__btn {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 18px;
            color: #000000;
            padding: 9px 14px;
            border-radius: 50%;

            &:nth-child(2) {
                margin-left: 5px;
            }
        }

        &__btnActive {
            color: #5627DC;
            background-color: rgb(86, 39, 220, 0.1);
        }

        &__all {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 18px;
            color: #000000;
            margin-left: 24px;

        }
    }
}