.setting-container {
    padding-top: 20px;
  }
  
  .header {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .avatar {
    width: 100px;
    height: 100px;
  }
  
  .section {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  
  .cancel-button {
    margin-right: 10px;
  }
  
  .save-button {
    margin-top: 10px;
  }
  