.setting-container {
  padding-top: 20px;
}

.header {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
}

.button-group {
}
.save-button,
.cancel-button{
}

.section {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 10%;
  max-width: 70%;
}

.h3 {
  border: 1px solid #ccc;
  width: 75%;
  padding: 10px;
  border-radius: 5px;
}

.h4 {
  margin-bottom: 20px;
}
.content-user{
  margin-left: 5%;
}

.MuiTextField-root {
  margin-bottom: 16px;
}
