.Person {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 21px;
    margin-left: 24px;

    @media screen and (max-width:1200px) {
        flex-direction: column;
        align-items: flex-start;
        gap: 11px;

    }

    @media screen and (max-width: 600px) {
        margin-left: 0;
    }


    img {
        width: 130px;
        height: 130px;
        border-radius: 50%;
        object-fit: cover;
        cursor: pointer;

        @media screen and (max-width:600px) {
            width: 100px;
            height: 100px;
        }
    }

    &__gruop {
        width: 95px !important;
        height: 85px !important;
        border-radius: 100px;
        background: #F5F5F5;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__name {

        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 39px;

        color: #000000;

        @media screen and (max-width:600px) {
            font-size: 24px;
            line-height: 28px;

        }

    }

    &__div {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 10px;
        margin-bottom: 8px;

        @media screen and (max-width:1200px) {
            margin-bottom: 0;
        }
    }

    &__id {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #1381E6;
        border: 1px solid #1381E6;
        border-radius: 1000px;
        padding: 4px 8px;

        @media screen and (max-width:600px) {
            font-size: 12px;
            padding: 2px 6px;

        }

    }

    &__year {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #74828F;
        border: 1px solid #74828F;
        border-radius: 1000px;
        padding: 4px 8px;
        min-width: 60px;
        display: flex;
        align-items: center;

        gap: 5px;

        @media screen and (max-width:600px) {
            font-size: 12px;
            padding: 2px 6px;
            justify-content: center;

        }
    }

    &__rate {
        display: flex;
        align-items: center;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        gap: 7px;
        color: #000000;



    }

    &__contect {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 590px;

        @media screen and (max-width:1200px) {
            flex-direction: column;
            align-items: flex-start;
        }


    }

    &__select {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        width: 32px;
        height: 32px;
        padding: 6px;
        border-radius: 1000px;
        border: 1px solid rgba(247, 192, 47, 0.30);

        @media screen and (max-width:1200px) {
            margin-top: 8px;
        }
    }

    &__email {
        margin-top: 10px;

        height: 19px;
        flex-shrink: 0;
        color: #0094FF;
        display: flex;
        align-items: center;
        gap: 11px;

        cursor: pointer;

        @media screen and (max-width:600px) {
            gap: 7px;
            font-size: 13px;

        }
    }

    &__wrap {
        width: 100%;
        display: flex;
    }

    &__imgOpen {
        position: fixed;
        top: 0;
        left: 0;
        background: rgb(0, 0, 0, .8);
        width: 100vw;
        height: 100vh;
        z-index: 100;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 60%;
            height: 60%;
            object-fit: contain !important;
            border-radius: 0 !important;

        }
    }
}