.PersonList {
    width: 100%;
    padding: 10px 20px;
    padding-left: 10px;
    padding-right: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    position: relative;
    transition: .2s all ease;
    z-index: 5;
    border-radius: 8px;

    &:hover {
        box-shadow: 10px 10px 30px -10px rgba(0, 0, 0, 0.15);
        transform: translate(5px);
        -webkit-transform: translate(5px);

        .PersonList__line {
            display: none;
        }
    }


    &__line {
        display: inline-block;
        border: none;
        width: calc(100% - 68px);
        height: 1px;
        background-color: rgba(168, 171, 179, 0.3);
        position: absolute;
        bottom: 0;
        left: 68px;
        margin: 0;

    }

    &__fillname {
        display: flex;
        align-items: center;
        gap: 10px;
        width: 100%;



        cursor: pointer;

        img {
            border-radius: 50%;
            object-fit: cover;
         
        }
    }

    &__idreponsice {
        color: #667085;

        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__name {

        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;

        color: #101828;


    }

    &__id {
        width: 100%;

    }

    &__Gruop {
        width: 100%;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;

        color: #101828;



    }

    &__progres {
        width: 100%;

        display: flex;
        align-items: center;
        gap: 10px;
        overflow: hidden;




        &__text {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            /* identical to box height, or 133% */


            color: #101828;

        }
    }

    &__phone {
        width: 100%;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;

        color: #101828;


    }

    &__skill {
        position: relative;
        width: 100%;

        display: flex;
        align-items: center;

        &::-webkit-scrollbar {
            width: 0px;
            display: none;

        }



    }

    &__email {
        width: 100%;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;

        color: #0094FF;
        overflow: auto;


        &::-webkit-scrollbar {
            width: 0;
        }



    }

    &__action {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        max-width: 80px;
        min-width: 80px;


    }
}

.backround {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    z-index: 15;
}