.RateTest {
    margin-bottom: 48px;

    &__top {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #EEEEEE;
        padding-bottom: 8px;
        margin-bottom: 15PX;

        &__line {
            width: 1px;
            height: 12px;
            background: #EEEEEE;
            margin: 0 4px;
        }
    }

    &__title {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        color: #000000;
    }

    &__btn {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__wrap {
            display: flex;
            align-items: center;
            gap: 5px;
            padding: 4px;
            padding-right: 10px;
            border: 1px solid #000000;
            border-radius: 1000px;

        }

        &__text {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            padding: 8px 14px;
           
            border-radius: 40px;
            color: #000000;
        }
    }

    &__text {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: #000000;
    }

    &__Download {
        cursor: pointer;
        width: 100%;
        max-width: 210px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #EEECF4;
        border-radius: 8px;
        padding: 3px 6px;
        padding-left: 12px;

        &__text {

            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            color: #5627DC;

        }
    }
}