.CalendarList {
    width: 100%;

    &__listTop {
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        &__item {

            display: inline-block;
            text-align: center;
            font-family: Inter;
            font-size: 10px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            width: 136px;
            color: rgba(52, 64, 84, 0.50);

        }
    }

    &__list {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        border-radius: 5px;
        border: 1px solid rgba(52, 64, 84, 0.10);
        background: #FFF;


        &__item {
            display: flex;
            align-items: center;
            justify-content: center;
            color: #344054;
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            align-items: center;
            padding: 7px 33px;
            width: 136px;
            color: rgb(52, 64, 84, .7);

        }
    }
}