.GroupTopList {
    display: flex;
    align-items: center;
    // justify-content: space-between;
    margin-top: 40px;
    padding-bottom: 16px;
    border-bottom: 1px solid rgb(0, 0, 0, .1);
    color: #101828;
    font-family: "Inter";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    opacity: .6;
    padding-left: 9px;

    li {
        width: 100%;

        &:nth-child(1) {
            max-width: 91px;
        }

        &:nth-child(2) {
            max-width: 253px;
        }

        &:nth-child(3) {
            max-width: 224px;
            margin-left: 23px;
        }

        &:nth-child(4) {
            max-width: 296px;
        }


        &:nth-child(5) {
            max-width: 50px;
            margin-right: 32px;
            margin-left: auto;
        }
    }
}