.BackBtn2 {
    display: flex;
    align-items: center;
    gap: 4px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #252430;
    padding: 10px;
    border-radius: 10px;


    &:hover {
        background: #EFEFF4;
    }
}