.TopStudentList {
    width: 100%;
    background: #FFFFFF;
    border-radius: 4px;
    padding: 12px;
    padding-right: 16px;
    margin-bottom: 4px;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: .2s all ease;
    cursor: pointer;
    &:hover {
        box-shadow: 10px 10px 30px -10px rgba(0, 0, 0, 0.15);
        transform: translate(5px);
        -webkit-transform: translate(5px);
    }

    &__btm {
        color: #667085;

        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 100%;
    }


    &__img {
        min-width: 44px !important;
        min-height: 44px !important;

        img {
            width: 44px;
            height: 44px;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    &__top {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 4px;
    }

    &__right {
        width: 100%;
    }

    &__btm {
        display: flex;
        gap: 6px;
        align-items: center;

        &__text {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            color: #101828;
        }

        &__progress {
            width: 100%;
            max-width: 142px;

        }

        progress {
            border-radius: 0px;
            width: 100%;
            height: 1px;
        }

        progress::-webkit-progress-bar {
            background-color: #E7E8EA;
            border-radius: 0px;


        }

        progress::-webkit-progress-value {
            background-color: #5627DC;

            border-radius: 0px;

            box-shadow: 0px -1px 0px #5627DC;
            border: 1px solid #5627DC;

        }

    }
}