.ButtunLogin {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    width: 100%;
    padding: 7px;
    text-align: center;
    background: #5627DC;
    border-radius: 5px;
}