.SettingsInput {
    width: 100%;
    display: inline-block;
    margin-bottom: 23px;
    position: relative;

    &__label {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: #101828;
        margin-bottom: 4px;

    }

    &__disabled {
        background: #F4F4F4 !important;
    }

    &__input {
        width: 100%;
        background: #FFFFFF;
        border: 1px solid rgba(16, 24, 40, 0.1);
        border-radius: 4px;
        padding: 15px 13px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        outline: none;
        color: #101828;

    }

    &__eye {
        position: absolute;
        right: 16px;
        bottom: 10px;
        cursor: pointer;
    }

    &__border {
        border: 1px solid #DA4848 !important;
        animation: mymove .3s ease,
    }

    &__alert {
        position: absolute;
        bottom: -15px;
        left: 6px;
        color: #DA4848;
        font-size: 10px;
        font-family: Inter;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        position: absolute;
    }

}

@keyframes mymove {
    0% {
        transform: translateX(1px);
    }

    25% {
        transform: translateX(-1px);
    }

    50% {
        transform: translateX(1px);
    }

    75% {
        transform: translateX(-1px);
    }

    100% {
        transform: translateX(0);
    }
}