.StudentList {
    padding-top: 6px;
    padding-bottom: 10px;
    padding-left: 9px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    transition: .2s all ease;

    &:hover {
        box-shadow: 10px 10px 30px -10px rgba(0, 0, 0, 0.15);
        transform: translate(5px);
        -webkit-transform: translate(5px);


        .StudentList__line {
            display: none;
        }
    }

    &__line {
        display: inline-block;
        border: none;
        width: calc(100% - 90px);
        height: 1px;
        background-color: rgba(168, 171, 179, 0.3);
        position: absolute;
        bottom: 0;
        left: 90px;
        margin: 0;
    }

    &__personWrap {
        display: flex;
        align-items: center;
        width: 100%;

    }

    &__pirson {
        display: flex;
        align-items: center;
        gap: 10px;
        width: 100%;

        margin-left: 10px;

        cursor: pointer;



        img {
            border-radius: 50%;
            object-fit: cover;
        }

        &__name {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            color: #101828;
            width: 100%;
        }

        &__Id {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            color: #667085;
            margin-top: 2px;
            width: 100%;
        }

    }

    &__id {
        width: 100%;

    }

    &__gruop {
        width: 100%;

    }

    &__jsu {
        width: 100%;

    }

    &__jlpt {
        width: 100%;

    }

    &__skill {
        width: 100%;
        max-width: 220px;
        display: flex;
        align-items: center;
        // overflow: hidden;

        &::-webkit-scrollbar {
            width: 0px;
            display: none;

        }
    }

    &__select {
        cursor: pointer;
    }

    &__progres {

        display: flex;
        align-items: center;
        gap: 10px;

        &__progress {
            width: 100%;
            min-width: 142px;
        }

        progress {
            border-radius: 0px;
            width: 100%;
            height: 1px;
            max-width: 142px;


        }

        progress::-webkit-progress-bar {
            background-color: #E7E8EA;
            border-radius: 0px;


        }

        progress::-webkit-progress-value {
            background-color: #5627DC;

            border-radius: 0px;

            box-shadow: 0px -1px 0px #5627DC;
            border: 1px solid #5627DC;

        }


        &__text {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            color: #101828;

        }
    }

    &__jdu {
        width: 100%;
    }

    &_jlpt {
        width: 100%;
    }

    &__action {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        max-width: 80px;
        min-width: 80px;


    }
}

.backround {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    z-index: 15;
}