.ExalInput {
  width: 100%;

  &__text {
    color: #101828;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 5px;
  }

  &__wrap {
    display: flex;
    gap: 9px;
  }

  &__label {
    width: 44px;
    height: 44px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background: #f5f5f5;
    cursor: pointer;

    input {
      display: none;
      color: #101828;
    }
  }

  &__resolv {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
    border: 1px solid rgba(16, 24, 40, 0.1);
    background: #fff;
    padding: 8px;
    padding-left: 13px;

    p {
      cursor: pointer;
      color: rgb(16, 24, 40, 0.3);
      font-family: Inter;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      width: 100%;
    }

    div {
      width: 28px;
      height: 28px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      border-radius: 50%;
      cursor: pointer;
    }
  }

  &__resolvactive {
    p {
      cursor: pointer;
      color: rgb(16, 24, 40);
      font-family: "Inter";
      font-size: 11px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      width: 100%;
    }

    div {
      width: 28px;
      height: 28px;

      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #ffefef;
      border-radius: 50%;
      cursor: pointer;
    }
  }

  &__priw {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 auto;
    width: 100%;
    background-color: white;
    padding: 20px;
    height: 100vh;
    z-index: 1000;

    &__wrap {
      width: 100%;
      text-align: end;

      div {
        cursor: pointer;
        display: inline-block;
        border-radius: 10px;
        background: #f5f5f5;
        padding: 12px;
        padding-top: 8px;
        margin-bottom: 20px;
        margin-left: auto;
      }
    }
  }

  &__error {
    margin-top: 3px;
    color: red;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
  }
}
