.PlusBtn {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 16px;
    padding: 0 4px;
    background: #0096DC;
    border-radius: 8px;
    color: #FFFFFF;
    transform: translateX(-3px);

}