.aside {
    background: #f4f4f4;
    border-radius: 8px;
    width: 100%;
    max-width: 335px;
    margin-right: 20px;

    height: auto;
    margin-top: 100px;
    right: 0;
    z-index: 9;
    top: 0;
    height: calc(100vh - 154px);

    &__shodow {
        display: none;

        @media screen and (max-width:1440px) {
            display: none;
            width: 100vw;
            height: 100vh;
            position: absolute;
            top: 0;
            left: 0;

            background: rgb(0, 0, 0, .2);
            z-index: 99;
        }
    }

    @media screen and (max-width:1440px) {
        display: none;
        position: absolute;
        top: 90px;
        z-index: 100000;
        right: 10px;
    }



}

.TopStudents {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;


    &__title {
        color: #000;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        padding-left: 12px;
        padding-bottom: 6px;
        margin: 0;
    }

    &__content {
        height: calc(100vh - 350px);

        overflow-x: auto;

        &::-webkit-scrollbar {
            width: 0;
        }
    }

    &__text {
        color: #667085;

        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        padding-left: 12px;
        padding-bottom: 18px;
        line-height: normal;
    }

    &__btn {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #EEE9FB;
        cursor: pointer;
    }
}

.GruopList {
    border-radius: 4px;
    background: #FFF;
    padding: 10px;
    display: flex;
    align-items: flex-start;
    gap: 5px;
    transition: .2s all ease;
    margin-bottom: 4px;
    cursor: pointer;



    &:hover {
        box-shadow: 10px 10px 30px -10px rgba(0, 0, 0, 0.15);
        transform: translate(5px);
        -webkit-transform: translate(5px);
    }

    &__name {
        color: #101828;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        width: 48px;
        height: 48px;
        background-color: #F5F5F5;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
    }

    &__title {
        color: #101828;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-top: 5px;
        margin-bottom: 4px;
    }

    &__student {
        color: #667085;
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }


    &__archive {
        position: fixed;
        bottom: 10px;
        width: 291px;
        right: 40px;
        // width: calc(100% - 40px);
    }
}


.backround {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    z-index: 15;
}

.GruopListactive {
    background-color: #EEE9FB;
}

.asiderClose {
    @media screen and (max-width:1440px) {
        display: inline-block;
    }
}