.DeleteMadel {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: rgb(16, 24, 40, 0.1);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;

    &__wrap {
        background: #FFFFFF;
        border-radius: 12px;
        width: 100%;
        max-width: 755px;
        margin: 0 auto;

        @media screen and (max-width:600px) {
            width: 90%;
        }
    }

    &__top {
        padding: 18px 22px;
        width: 100%;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #101828;
        border-bottom: 1px solid rgb(16, 24, 40, 0.1);

    }

    &__content {
        padding: 40px;
    }

    &__agree {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;

        color: #000000;
        padding-top: 60px;
        padding-bottom: 10px;

    }

    &__text {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #000000;
        opacity: 0.8;
    }

    &__botton {
        border-top: 1px solid rgb(16, 24, 40, 0.1);
        padding: 20px 40px;
        display: flex;
        gap: 5px;
    }

    &__Cancel {
        background: rgb(206, 206, 210, 0.2);
        border-radius: 8px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #101828;

        padding: 14px 30px;

    }
}

.openMadal {
    display: flex;
}

.Gruop {
    &__title {
        color: #000;

        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 27px;
        margin-bottom: 15px;
    }
}