.SideBarBtn {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #121212;
    padding: 14px 22px;

    border-radius: 8px;

    width: 100%;

  
}