@import url('../public/fonts/fonts.css');
@import 'bootstrap/scss/bootstrap';

:root {
  --white-color: #FFFFFF;
  --black-color: #121212;
}

html,
body {
  background: rgb(253, 253, 252);
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: var(--black-color);
  animation: transparentIn 0.75s;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;

}

button {
  cursor: pointer;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

button {
  border: none;
  background: transparent;

}


@keyframes transparentIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }

  to {
    opacity: 1;
    transform: rotateX(0);
  }
}

.fr-toolbar,
.fr-wrapper,
.fr-second-toolbar {
  background: #F5F5F5 !important;
}

.fr-second-toolbar {
  border-top: 1px solid rgb(11, 33, 43, 0.1);
}

.fr-toolbar {
  border-bottom: 1px solid rgb(11, 33, 43, 0.1) !important;
}

.ant-select-selector {

  padding-top: 5px !important;
  height: 44px !important;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.seclectLesson {

  .ant-select-selector {
    width: 150px !important;
  }
}

.fr-toolbar {
  &:nth-child(3) {
    display: none;
  }
}

.fr-second-toolbar {
  &:nth-child(6) {
    display: none;
  }
}

p {
  cursor: default;
}


p[data-f-id="pbf"] {
  display: none;
}

.fr-element {
  padding-top: 40px;
}


.displayBlock {
  display: block !important;
}


.displayNone {
  display: none !important;
}

.MuiAutocomplete-root {
  padding: 0 !important;
  margin: 0 !important;

}

.MuiFormControl-root {
  padding: 0 !important;
  margin: 0 !important;

}

