.faq-title {
  font-family: Georgia, "Times New Roman", Times, serif !important;
}
.accordion-box {
  width: 70%;
}
.title-accordion {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif !important;
  font-size: 20px !important;
}
.body-accordion {
  font-family: Times, Helvetica, sans-serif !important;
}

.help-info-box {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
}
.faq-box {
  display: flex;
}
.faq-icons {
  margin-right: 0.5rem;
  background-color: rgba(79, 78, 78, 0.1);
  border-radius: 5px;
  padding: 5px;
}

.faq-content {
  overflow: scroll;
  height: 64vh;
}

.faq-content::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.faq-content {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@media screen and (max-width: 600px) {
  .faq-content {
    height: 56vh;
  }
}

@media screen and (max-width: 400px) {
  .faq-content {
    height: 48vh;
  }
}
