.AddInput {
    width: 100%;
    max-width: 220px;
    display: inline-block;
    position: relative;

    @media screen and (max-width:600px) {
        max-width: 100%;
    }

    &__label {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        color: #101828;
        margin-bottom: 6px;
        margin-left: 6px;

    }

    &__input {
        background: #FFFFFF;
        border: 1px solid rgba(16, 24, 40, 0.1);
        border-radius: 4px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: #101828;
        padding: 15px 13px;
        padding-bottom: 14px;
        outline: none;
        width: 100%;

        &:focus {
            border: 1px solid rgba(16, 24, 40, 0.3);
        }
    }

    &__responsice {
        width: calc((100% - 20px) / 3);
        max-width: 100%;

        @media screen and (max-width:700px) {
            width: calc((100% - 20px) / 2);

        }

        @media screen and (max-width:500px) {
            width: 100%;

        }
    }

    &__textArea {
        background: #FFFFFF;
        border: 1px solid rgba(16, 24, 40, 0.1);
        border-radius: 8px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: #101828;
        padding: 15px 13px;
        padding-bottom: 14px;
        outline: none;
        width: 100%;
        resize: none;
        height: 155px;

        &:focus {
            border: 1px solid rgba(16, 24, 40, 0.3);
        }
    }

    &__labelinut {
        position: relative;

    }

    &__alert {
        color: #DA4848;
        font-size: 10px;
        font-family: Inter;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        position: absolute;
        bottom: -15px;
        left: 6px;

    }

    &__border {
        border: 1px solid #DA4848 !important;
        animation: mymove .3s ease,
    }

    &__disabled {
        background: #F4F4F4;



    }
}

.AddInputRoundno {
    position: absolute;
    bottom: 3px;
    right: 3px;
    border-radius: 2px;

    background: #5627DC;

    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;


}



.widthFull {
    width: 100% !important;
    max-width: 100% !important;

}

@keyframes mymove {
    0% {
        transform: translateX(1px);
    }

    25% {
        transform: translateX(-1px);
    }

    50% {
        transform: translateX(1px);
    }

    75% {
        transform: translateX(-1px);
    }

    100% {
        transform: translateX(0);
    }
}