.ListModal {
    position: absolute;
    padding: 10px 13px;
    background: #FFFFFF;
    box-shadow: -20px 24px 54px #DCDCDC;
    border-radius: 19px;
    top: 40px;
    right: 24px;
    z-index: 1000000;
    width: 145px;
    display: flex;
    flex-direction: column;



    &__btn {
        width: 100%;
        background: rgb(255, 255, 255);
        border-radius: 9px;
        padding: 13px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #101828;
        text-align: left;

        &:hover {
            background: rgb(86, 39, 220, 0.1);
            color: #5627DC;
        }
    }
}