.TopList {
    padding-bottom: 19px;

    border-bottom: 1px solid rgb(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 41px;


    &__item {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: #101828;
        opacity: 0.6;

        width: 100%;
        margin-left: 30px;

        &:first-child {
            max-width: 222px;
        }

        &:nth-child(2) {
            max-width: 90px;
            margin-left: 30px;
        }

        &:nth-child(3) {
            max-width: 130px;
            margin-left: 60px;
        }


        &:nth-child(4) {
            max-width: 60px;
            margin-left: 30px;
        }

        &:nth-child(5) {
            max-width: 60px;
            margin-left: 30px;
        }

        &:nth-child(6) {
            max-width: 100px;
            margin-left: 46px;
            text-align: center;
        }
    }
}