.SettingsPage {
    &__container {
        margin-top: 100px !important;
        width: 100% !important;
        max-width: 868px !important;

        @media screen and (min-width:1175px) {
            max-width: 800px !important;

        }

        @media screen and (max-width:1000px) {
            width: 94% !important;
        }


        @media screen and (max-width:675px) {
            margin-top: 80px !important;
        }
    }

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        width: 868px !important;


        @media screen and (max-width:1175px) {
            flex-direction: column-reverse;
            align-items: flex-end;
            gap: 10px;
            margin-bottom: 0px;
            width: 95% !important;

        }


        &__div {
            display: flex;
            align-items: center;

            &:last-child {
                gap: 5px;
            }
        }

        &__name {
            margin-left: 34px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 20px;
            color: #252430;

        }

        &__fName {
            color: #252430;
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 20px;
            margin: 0;
            padding: 0;
        }

        &__Info {
            display: flex;
            align-items: center;
            width: 100%;
            max-width: 543px;
            padding: 13px 24px;
            border-radius: 4px;
            background: #FFF;
            gap: 24px;
            border: 1px solid rgb(0, 0, 0, .1);

            @media screen and (max-width:1175px) {
                max-width: 100%;
                margin-bottom: 10px;
            }

            div {
                cursor: pointer;
                border: none;
                display: flex;
                align-items: center;
                padding: 10px;
                border-radius: 10px;

                &:hover {

                    background: #EFEFF4;

                }
            }
        }

        &__btns {
            display: flex;
            align-items: center;
            gap: 5px;
        }

        &__role {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #252430;
            margin-left: 4px;

        }

        margin-bottom: 36px;
    }

    &__form {
        display: flex;
        width: 100%;
        gap: 28px;

        @media screen and (max-width:1175px) {
            width: 95%;
        }

        @media screen and (max-width:575px) {
            flex-direction: column;
        }

    }

    &__upload {
        width: 150px;
        height: 150px;
        position: relative;
        border-radius: 50%;


        &__file {
            display: none;
        }


        &__icon {
            position: absolute;
            bottom: -5px;
            right: 5px;
            background: #FFFFFF;
            cursor: pointer;
            border-radius: 50%;
            padding: 15px;

            border: 1px solid rgb(18, 18, 18, 0.1);

            &:hover {
                border: none;
                box-shadow: 0px 10px 30px -5px rgba(86, 39, 220, 0.6);
            }
        }

        &__div {


            div {
                cursor: pointer;
            }

            &:hover {
                .SettingsPage__imgDelete {
                    display: flex;
                }
            }
        }

        img {
            border-radius: 50%;
            object-fit: cover;
            border: 1px solid rgb(0, 0, 0, 0.1);

        }
    }

    &__imgDelete {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        align-items: center;
        justify-content: center;
        background-color: rgb(0, 0, 0, .5);
    }

    &__inputs {
        width: 100%;
        margin-top: 13px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        @media screen and (min-width:1175px) {
            max-width: 800px;

        }

        @media screen and (max-width:1175px) {
            width: 100%;
        }

        &__wrap {
            width: calc((100% - 28px) / 3);

            @media screen and (max-width:1175px) {
                width: calc((100% - 10px) / 2);
            }

            @media screen and (max-width:445px) {
                width: 100%;
            }
        }


    }

    &__aboutMe {
        margin-top: 40px;
        background: #F5F5F5;
        border-radius: 8px;
        padding: 20px;
        padding-bottom: 50px;
        margin-left: 75px;
        margin-bottom: 40px;

        &__title {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 120%;
            color: #000000;
            margin-bottom: 15px;
            padding-bottom: 5px;
            border-bottom: 1px solid #D9D9D9;

        }

        &__text {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            color: #000000;
            opacity: 0.8;
        }
    }

    &__passsword {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;

        color: #121212;
        margin-bottom: 31px;
        margin-top: 60px;
        margin-left: 111px;

        @media screen and (max-width:1175px) {
            margin-top: 30px;
            margin-left: 11px;
            width: 85%;
        }

        &__wrap2 {
            margin-left: 69px;
            margin-bottom: 40px;
            margin-left: 178px;
            display: flex;
            justify-content: flex-start;
            gap: 10px;

            @media screen and (max-width:1175px) {
                margin-top: 30px;
                margin-left: 0px;

                width: 95%;
            }

            @media screen and (max-width:575px) {
                flex-wrap: wrap;
            }


        }

        &__wrap {
            margin-left: 69px;
            margin-bottom: 40px;
            margin-left: 178px;

            @media screen and (max-width:1175px) {
                margin-top: 30px;
                width: 95%;
                margin-left: 0px;
            }

        }

        &__time {
            input {

                padding: 13px !important;
            }
        }

        &__div {

            display: flex;
            justify-content: flex-start;
            gap: 10px;

            @media screen and (max-width:575px) {
                flex-wrap: wrap;
            }
        }

    }

    &__logout2__wrap {
        display: none;

        top: 0;
        left: 0;
        position: fixed;
        width: 100vw;
        overflow: hidden;
        height: 100vh;

        background: rgb(16, 24, 40, 0.1);
        z-index: 100;
        padding-top: 36px;
        text-align: center;
    }

    &__logout2 {
        // position: absolute;
        // top: 36px;
        display: inline-block;

        background: #FFFFFF;
        border: 1px solid rgba(86, 39, 220, 0.1);
        box-shadow: -20px 24px 54px #DCDCDC;
        border-radius: 8px;
        padding: 20px 30px;
        z-index: 50;

        &__text {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 26px;
            text-align: center;
            color: #000000;
            width: 175px;
            margin: 0 auto;
            margin-bottom: 26px;
            text-align: center;
            width: 100%;
            max-width: 194px;

        }

        div {
            display: flex;
            gap: 10px;
        }
    }

}